<h3>Selected Answers are </h3>
<hr />

         Q1:   @ViewBag.Answer1
<br />
         Q2:   @ViewBag.Answer2
<br />
          Q3:  @ViewBag.Answer3


<h3>Correct Answers Count</h3>
<hr />
@ViewBag.score
<br />
<hr />
<a asp-action="Question1" asp-controller="Quiz"> Re-Start Exam</a>